.contacttop{
    background-color: #0b1214;
    padding-top: 40px;
    .container{
        background-color: #0e1c21;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 100px;
        p{
            font-size: 4rem;
            color: white;
            letter-spacing: 2px;
        }
        span{
            color: rgba(255, 255, 255, 0.849);
            font-size: 1.2rem;
        }
    }
}