.history{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #0b1214;
    img{
        border-radius: 10px;
        width: 90%;
    }
    p{
        padding-top: 80px;
        font-size: 1.3rem;
        letter-spacing: 3px;
        font-weight: 540;
        color: orange;
    }
    h2{
        font-size: 3rem;
        color: white;
        padding-bottom: 10px;
    }
    span{
        padding-top: 20px;
        font-size: 1.1rem;
        color: rgba(255, 255, 255, 0.781);
    }
}