.Hometop{
    background-image: url('https://media.istockphoto.com/id/1248298359/photo/luxury-restaurant-interior-at-night.jpg?s=1024x1024&w=is&k=20&c=NPAvut6UUeSeCy1oughC18lKORDkXjn5e0wt78bboP4=');
    background-repeat: no-repeat;
    background-size: cover;
    
    h1{
        max-width: 600px;
        color: white;
        padding-left: 80px;
        padding-top: 50px;
        font-size: 4.5rem;
    }
    h4{
        max-width: 500px;
        color: white;
        padding-left: 80px;
        font-size: 1rem;
        padding-top: 20px;
    }
}