    nav{
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
    }
    .navmenu{
        a{
            padding-left: 30px;
            color: rgb(8, 8, 8);
            text-decoration: none;
        }
    }