    nav{
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
    }
    .navmenu{
        padding-top: 20px;
        a{
            font-weight: 640;
            font-size: 1.6rem;
            padding-left: 30px;
            color: rgb(255, 255, 255);
            text-decoration: none;
        }
    }