.row{
    .col-xl-2{
        padding-top: 20px;
        padding-left: 80px;
    }
    .col-xl-7{
        text-align: center;
        padding-top: 30px;
        a{
            padding-left: 30px;
            color: white;
            text-decoration: none;
        }
    }
}